/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
/* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
	font-family: 'Noto Sans KR', sans-serif;
}
/* #header START */
	/* .top_nav */
	.top_nav {
		width: 100%;
		background-color: #f7f7f7;
	}
	.top_nav > ul.nav_wrap {
		display: block;
		overflow: hidden;
		width: 1140px;
		margin: 0 auto;
		height: 35px;
		
	}
	ul.nav_wrap > li {
		float: right;
		line-height: 35px;
		padding: 0 20px;
		font-size: 0.85rem;
	} 

	/* .header */
	.header {
		width: 100%;
		background-color: #003148;
		clear: both;
	}
	.header .gnb {
		width: 1140px;
		margin: 0 auto;
		height: 70px;
	}
	/* 로고 */
	.header h1 {
		left: 0;
		width: 20%;
		float: left;
		line-height: 75px;
	}
	.header h1 > a {
		font-family: 'Bebas Neue', cursive;
		color: #fff;
		font-size: 2.5rem;
	}
	/* 카테고리 */
	.gnb_wrap {
		text-align: center;
		overflow: hidden;
		width: 80%;
	    position: static;
	}
	.gnb_wrap > .gnb_main {
		display: block;
		float: left;
		width: 19.7%;
		line-height: 70px;
	}
	.gnb_main > a {
		color: #fff;
		width: 99%;
	   	display: block;
	   	
	}
	.gnb_main::before {
		content: "|";
		float: right;
		color: #114a65;
	}
	.gnb_main:last-child::before {
		content: "";
	}
	.gnb_sub {
		display: none;
		box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.1);
		border: 1px solid #f5f5f5;
		position: absolute;
	    width: 177px; /* 카테고리 갯수 변경시 수정해야함 */
	}
	.gnb_sub > li {
		display: inline-block;
		width: 100%;
		height: 50px;
		line-height: 50px;
		border-bottom: 1px solid #f7f7f7;
		background-color: #fff;
	    float: left;
	}
	.gnb_sub > li:last-child {
		border: none;
	}
	.gnb_sub > li > a {
		display: inline-block;
		height: 100%;
		width: 100%;
		font-size: 0.85rem;
		color: #555;
	}
	.gnb_main:hover .gnb_sub {
		display: block;
	}
	.gnb_sub > li:hover  {
		font-weight: bold;
	}
/* #header END */

/* view.jsp START */
	#container {
		width: 100%;
		margin-top: 3em;
	}
	#container_box {
		width: 1140px;
		margin: 0 auto;
		overflow: hidden;
	}
	.goods_wrap {
	   	overflow: hidden;
	   	margin-bottom: 3.5em;
	}
	.goodsImg {
		width: 560px;
		height: 560px;
		float: left;
	}
	.goodsImg > img {
		width: 100%;
	}
	/* 제품 정보 */
	.goodsInfo {
		width: 540px;
		float: right;
	}
	.goodsInfo .cateName {
		color: #3d5e6d;
	}
	.goodsInfo .goodsName {
	    font-size: 2rem;
	    font-weight: bold;
	    letter-spacing: -1px;
	    padding-top: 0.3em;
	       margin-bottom: 1.5em;
	       color: #003148;
	}
	.goodsInfo .goodsPrice {
		margin-top: 1.5em;
	}
	.goodsDetail {
		display: inline-block;
		margin-bottom: 1.5em;
		width: 100%;
	} 
	.goodsDetail > dt, .goodsDetail > dd {
		float: left;
	} 
	.goodsDetail > dt {
		width: 110px;
	}
	.goodsDetail > dd {
		font-weight: bold;
	}
	.goodsPrice > dd {
		color: #ab2012;
	}
	/* 카트에 담기 버튼 */
	.addToCart {
		margin-top: 2em;
	}
	.addToCart > button {
		border-radius: 4px;
		background-color: #fff;
		border: 2px solid #ab2012;
		color: #ab2012;
		padding: 15px 65px;
		font-weight: bold;
		transition-duration: 0.2s;
	}
	.addToCart > button:hover {
		background-color: #ab2012;
		color: #fff;
	}
	/* 제품 설명 */
	.goodsDesc {
		margin-top: 3.5em;
		text-align: center;
	}
	.goodsDesc > img {
		max-width: 1140px;
	}
	
	/* 로그인 안내문구 */
	#reply .replyAlert {
		width: 100%;
		padding: 2em 2em;
	    text-align: center;
	    background-color: #ddd;
	}
	.replyAlert > a {
		color: #ab2012;
		font-weight: bold;
	}
	/* 댓글 작성 폼 */
	#reply section.replyForm {
		width: 100%;
	    margin-bottom: 2em;
	    overflow: hidden;
	}
	.replyForm > form {
		width: 100%;
	}
	.replyForm form > div.input_area {
		float: left;
	} 	
	.replyForm form > div.input_area:first-of-type {
		width: 80%;
	}
	.replyForm form > div.input_area:last-child {
		width: 20%;
	}
	.replyForm  .input_area textarea {
		width: 100%;
	}
	#reply #replyCon {
		resize: none;
	}
	#reply #reply_btn {
		width: 100%;
		height: 79px;
		border-radius: 0;
		background-color: #003148;
	}
	#reply #reply_btn:hover {
		font-weight: bold;
	}
	/* 댓글 리스트 */
	.replyList > ol > li:first-child {
		border-top: 1px solid #ddd;
	}
	.replyList > ol > li {
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid #ddd;
		vertical-align: middle;
		padding: 1.5rem 2rem;
	}
	.replyList li > div {
		float: left;
	}
	.replyList li > .userInfo {
		width:10%;
	}
	.replyList li > .replyContent {
		width: 78%;
	}
	.replyContent > div {
		float: left;
	}
	.replyList li > .userDate {
		width: 10%;
		color: #9e9e9e;
	}
	.replyList .replyFotter {
		padding-left: 1em;
	}
	.replyList .replyFotter > button {
		font-size: 0.6rem;
	    padding: 0.2em 1em;
	    margin-right: 0.6em;
	}
	.replyFotter > .modify {
		background-color: #003148;
	}
	.replyFotter > .delete {
		background-color: #ab2012;
	}
	
	/* 댓글 수정 모달팝업 */
	div.replyModal {
		position: relative;
		z-index: 1;
		display : none;
	}
	.replyModal > .modalBackground {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		z-index: -1;
	}
	.replyModal > .modalContent {
		position: fixed;
		top: 20%;
		left: calc(50% - 250px);
		width: 500px;
		height: 250px;
		padding:20px 10px; 
		background:#fff; 
		border:2px solid #666; 
	}
	.replyModal > .modalContent .modal_replyCon {
		resize: none;
		width: 100%;
		padding: 1em;
		height: 200px;
	}
	.replyModal > .modalContent > div:last-child {
		float: right;
    	margin-top: 1em;
	}
	.replyModal > .modalContent .modal_modify_btn {
		background-color: #003148;
	}
	.replyModal > .modalContent .modal_modify_btn:hover {
		background-color: #02161f;
	}
	.replyModal > .modalContent .modal_cancel {
		background-color: #ab2012;
	}
	.replyModal > .modalContent .modal_cancel:hover {
		background-color: #88150a;
	}
	
	/* 상품 설명, 상품 리뷰 버튼 */
	.goodsMove, .replyMove {
		width: 100%;
		margin-bottom: 1.8em;
	    overflow: hidden;
	}
	.goodsMove > li, .replyMove > li {
		float:left;
		border: 1px solid #000;
		width: 43.6%;
		padding: 1em 2em;
		font-size: 1.1rem;
	}
	.goodsMove > li:first-child, .replyMove > li:last-child {
		border-bottom:none;
	}
	.goodsMove > li:last-child, .replyMove > li:first-child {
		border: none;
		border-bottom: 1px solid #000;
	}
	.goodsMove > li > a, .replyMove > li > a {
		display: inline-block;
		width: 100%;
		height: 17px;
	}
	.goodsMove > li:first-child > a, .replyMove > li:last-child > a{
	    font-weight: bold;
					color: #d23f3f;
	}
	.goodsMove > li:last-child > a:hover, .replyMove > li:first-child > a:hover {
		font-weight: bold;
		
	}
/* view.jsp END */



/* 푸터 */
	#footer {
		width: 100%;
		background-color: #f8f8f8;
		padding: 2.5em 0;
		letter-spacing: -0.05em;
		font-size: 0.85rem;
		margin-top: 4em;
	}
	#footer > #footer_box {
		width: 1140px;
		margin: 0 auto;
		overflow: hidden;
	}
	#footer_box > div {
		float: left;
	}
	#footer_desc {
		width:70%;
	}
	#footer_desc > em {
		font-size: 1.2rem;
		line-height: 3em;
		font-weight: bold;		
	}
	#footer_desc > p {
		margin-bottom: 0.8em;
	}
	#footer_cs {
		width: 30%;
		padding-top: 2.7em;
	}
	#footer_cs > p {
		margin-bottom: 0.8em;
	}
	#footer_cs > p > b {
		font-weight: bold;
	}
	#footer_cs > p > strong {
		font-size: 1.8rem;
	}
/* 푸터 */

/* 버튼 */
button {
	border: none;
	text-decoration: none;
	text-align: center;
	padding: .5em 2em;
	border-radius: 4px;
	color: #fff;
	transition-duration: 0.1s;
}

/* signin.jsp start */
	.signin_box, .signup_box {
		width: 500px;
		margin: 0 auto;
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 2em;
		padding-top: 1em;
		margin-top: 2em;
	}
	.signin_box input[type=email], .signin_box input[type=password],
	.signup_box input[type=email], .signup_box input[type=password], .signup_box input[type=text]{
	  width: 100%;
	  padding: 12px 20px;
	  margin: 1em 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: .2em;
	  box-sizing: border-box;
	}
	.signin_box #signin_btn , .signup_box #signup_btn{
	  width: 100%;
	  background-color: #4CAF50;
	  color: white;
	  padding: .875em 1.25em;
	  margin: .5em 0;
	  border-radius: .2em;
	  cursor: pointer;
	  margin-top: 1em;
	}
	.signin_box #signin_btn:hover,
	.signup_box #signup_btn:hover {
		background-color: #45a049;
	}
/* signin.jsp end */


/* list.jsp START */
	#list_content > ul > li {
		float: left;
		width:25%;
		padding:30px 0;
	}
	#list_content .list_info {
		width: 240px;
		margin: 0 auto;
		text-align: center;
		height: 350px;
	}
	#list_content .list_info .goodsThumb img{
		width: 240px;
   		height: 240px;
	}
	#list_content .list_info .goodsName {
		margin-top: 1em;
		line-height: 1.3em;
	}
	#list_content .list_info .goodsName > a:hover {
		text-decoration: underline;
	}
/* list.jsp END */

/* cartList.jsp START */
	#cartList {
		width: 100%;
	}
	#cartList table thead tr th {
		padding: 18px 0;
	    border-top: 2px solid #003148;
	    border-bottom: 1px solid #ccc;
	    color: #888;
	    font-size: 0.9rem;
	    font-weight: bold;
	}
	#cartList .cartInfo > td {
	    padding: 15px 0px;
	    border-top: 1px solid #eaeaea;
	    font-size: 13px;
	    color: #888;
	    line-height: 16px;
	    text-align: center;
	}
	#cartList .cartInfo .cartGoodsName {
		text-align: left;
	}
	#cartList .cartInfo .cartGoodsName:hover {
		font-weight: bold;
	}
	#cartList .cartInfo  > td > img {
		width: 100px;
	}
	#cartList .delete_btn {
		background-color: #ab2012;
	}
/* cartList.jsp END */
