body {
	width: 100%;
}
/* 전체 컨테이너 */
#root {
	width: 1140px;
	margin: 0 auto;
}

/* 네비게이션 바 */
#nav_box {
	margin-top: 1em;
}
#nav_box > ul {
	float: right;
}
#nav_box > ul > li {
	float: left;
}
#nav_box > ul > li > a {
	font-size: 0.875rem;
	margin-left: 0.8em;
}

/* 헤더 */
#header {
	clear: both;
   	line-height: 4em;
   	border-bottom: 1px solid #f5f5f5;
}
#header_box {
	text-align: center;
	margin-top: 1em;
}
#header_box > .title > a {
	font-size: 2.5rem;
	font-weight: bold;
}
#header_box > .title > a > i {
	font-size: 1.5rem;
}

/* 컨텐츠 */
#container {
	/* margin-top: 2em; */
	overflow: hidden;
}
#container > aside {
	margin-bottom: 1em;
}

/* 컨텐츠 > 목록 */
#container > aside > ul {
	width: 100%;
	border-bottom: 1px solid #f5f5f5;
	overflow: hidden;
}
#container > aside > ul > li {
	line-height: 3em;
	text-align: center;
	float: left;
	width: 25%;
}
#container > aside > ul > li > a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
#container > aside > ul > li > a:hover {
	background-color: #f5f5f5;
	color: #999;
}


/* 컨텐츠 > 내용 */
#container_box > h2 {
	font-size: 1.3rem;
	font-weight: bold;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

/* 버튼 */
button {
	border: none;
	text-decoration: none;
	text-align: center;
	padding: .6em 1.5em;
	border-radius: 8px;
	color: #fff;
	transition-duration: 0.1s;
}
.btnArea {
	float:right;	
}
/* list.jsp start*/
	#container_box > table {
		width: 100%;
		table-layout: fixed;
		text-align: center;
	}
	#container_box th {
		font-weight: bold;
		background-color: #808080;
		color: #fff;
	}
	#container_box  td {
		border-bottom: 1px solid #f5f5f5;
	}
	#container_box tr:hover {
		background-color: #f5f5f5;
	}
	#container_box th, #container_box td {
	  width: 100px;
	  overflow: hidden;
	  padding:  0.5em 1em;
	  line-height: 2.5em;
	}
	/* 상품목록 번호 */
	#container_box th:nth-child(1) {
		width:5%;
	}
	/* 상품목록 이름 */
	#container_box th:nth-child(2) {
		width:25%;
		text-align: left;
	}
	#container_box td:nth-child(2) {
		text-align: left;
		font-weight: bold;
	}
/* list.jsp end */

/* register.jsp + modify.jsp start */
	.register_box {
		/* width: 1140px; */
		margin: 0 auto;
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 2em;
		padding-top: 1em;
		margin-top: 2em;
		overflow: hidden;
	}
	 #register_form input[type=text]{
	  width: 100%;
	  padding: 12px 20px;
	  margin: 1em 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: .2em;
	  box-sizing: border-box;
	  background-color: #fff;
	}
	#register_form label {
		font-weight: bold;
	}
	#register_form .inputArea, #register_form #category {
		margin-top:.8em;
	}
	/* 카테고리 */
	#category {
		margin-bottom: 1.5em;
	}
	#category label {
		font-weight: bold;
		margin-right: .5em;
	}
	#category select {
	    width: 15em;
    	height: 2.5em;
    	padding: 0 .5em;
	}
	#category .category1 {
		margin-right: 2em;
	}
/* 	#view_form label {
		font-weight: bold;
	}
	#view_form .inputArea, #view_form #category {
		margin-top:.8em;
	}
	카테고리
	#category {
		margin-bottom: 1.5em;
	}
	#category label {
		font-weight: bold;
		margin-right: .5em;
	}
	#category select {
	    width: 15em;
    	height: 2.5em;
    	padding: 0 .5em;
	}
	#category .category1 {
		margin-right: 2em;
	}
	등록 폼
	#register_form .inputArea {
		width: 100%;
		margin-bottom: .8em;
	}
	#register_form .inputArea > label {
    	display: inline-block;
	    width: 18%;
	    line-height: 2.55em;
	    text-align: center;
	    background-color: #c5c5c5;
	    color: #fff;
	    font-weight: bold;
	}
	#register_form .inputArea > input {
		width:80%;
		line-height: 2em;
	}
	#register_form input[type=text] {
	  border: none;
	  border-bottom: 2px solid #c0c0c0;
	} */
	
	/* 버튼 */
	.register_box .btnArea {
		margin-top: 2em;
	}
	/* 등록 버튼 */
	#register_Btn, #update_Btn {
		background-color: #4CAF50;
		border: 2px solid #4CAF50;
	}
	#register_Btn:hover, #update_Btn:hover{
		background-color: #fff;
		color: #555;
	}
/* register.jsp + modify.jsp end */

/* view.jsp start */
	.view_box {
		width: 1140x;
		margin: 0 auto;
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 2em;
		padding-top: 1em;
		margin-top: 2em;
		overflow: hidden;
	}
	 #view_form .inputArea span{
	  width: 100%;
	  padding: 12px 20px;
	  margin: 1em 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: .2em;
	  box-sizing: border-box;
	  background-color: #fff;
	}
	#view_form label {
		font-weight: bold;
	}
	#view_form .inputArea, #view_form #category {
		margin-top:.8em;
	}
/* 	#view_form .inputArea {
		width: 100%;
		margin-bottom: .8em;
	}
	#view_form .inputArea > label {
    	display: inline-block;
	    width: 18%;
	    line-height: 2.55em;
	    text-align: center;
	    background-color: #c5c5c5;
	    color: #fff;
	    font-weight: bold;
	}
	#view_form .inputArea > span {
		width:80%;
		line-height: 2em;
	} */
	#view_form .btnArea {
		margin-top: 2em;
	}
	#modify_Btn {
		background-color: #4CAF50;
		border: 2px solid #4CAF50;
	}
	#modify_Btn:hover {
		background-color: #fff;
		color: #555;
	}
	#delete_Btn {
		background-color: #f44336;
		border: 2px solid #f44336;
	}
	#delete_Btn:hover {
		background-color: #fff;
		color: #555;
	}
	#back_Btn {
		background-color: #555;
		border: 2px solid #555;
	}
	#back_Btn:hover {
		background-color: #444;
		border: 2px solid #444;
	}
	
/* view.jsp end */

/* signin.jsp start */
	.signin_box, .signup_box {
		width: 500px;
		margin: 0 auto;
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 2em;
		padding-top: 1em;
		margin-top: 2em;
	}
	.signin_box input[type=email], .signin_box input[type=password],
	.signup_box input[type=email], .signup_box input[type=password], .signup_box input[type=text]{
	  width: 100%;
	  padding: 12px 20px;
	  margin: 1em 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: .2em;
	  box-sizing: border-box;
	}
	.signin_box #signin_btn , .signup_box #signup_btn{
	  width: 100%;
	  background-color: #4CAF50;
	  color: white;
	  padding: .875em 1.25em;
	  margin: .5em 0;
	  border-radius: .2em;
	  cursor: pointer;
	  margin-top: 1em;
	}
	.signin_box #signin_btn:hover,
	.signup_box #signup_btn:hover {
		background-color: #45a049;
	}
/* signin.jsp end */
/* 푸터 */
#footer {
	width: 100%;
	background-color: #f8f8f8;
	padding: 2.5em 0;
	letter-spacing: -0.05em;
	font-size: 0.85rem;
	margin-top: 4em;
}
#footer > #footer_box {
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}
#footer_box > div {
	float: left;
}
#footer_desc {
	width:70%;
}
#footer_desc > em {
	font-size: 1.2rem;
	line-height: 3em;
	font-weight: bold;		
}
#footer_desc > p {
	margin-bottom: 0.8em;
}
#footer_cs {
	width: 30%;
	padding-top: 2.7em;
}
#footer_cs > p {
	margin-bottom: 0.8em;
}
#footer_cs > p > b {
	font-weight: bold;
}
#footer_cs > p > strong {
	font-size: 1.8rem;
}