<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mappers.shopMapper">

<!-- 카테고리별 상품 리스트 1차 분류-->
<!-- <select id="list_1" resultType="com.shop.domain.GoodsViewVO">
	select  g.goodsNum,
			g.goodsName,
			g.cateCode,
			c.cateCodeRef,
			c.cateName,
			goodsPrice,
			goodsStock,
			goodsDesc,
			goodsImg,
			goodsDate,
			g.goodsImg,
			g.goodsThumbImg
	from	tbl_goods g
	inner	join goods_category c
			on g.cateCode = c.cateCode
	where	g.cateCode = #{cateCode}
			or c.cateCodeRef = #{cateCodeRef}
</select> -->

<!-- 카테고리별 상품 리스트 2차 분류-->
<!-- <select id="list_2" resultType="com.shop.domain.GoodsViewVO">
	select  g.goodsNum,
			g.goodsName,
			g.cateCode,
			c.cateCodeRef,
			c.cateName,
			goodsPrice,
			goodsStock,
			goodsDesc,
			goodsImg,
			goodsDate,
			g.goodsImg,
			g.goodsThumbImg
	from tbl_goods g
	inner join goods_category c
	on g.cateCode = c.cateCode
	where g.cateCode = #{cateCode}
</select> -->

<!-- 카테고리별 상품 리스트 -->
<select id="list" resultType="com.shop.domain.GoodsViewVO">
	select  g.goodsNum,
			g.goodsName,
			g.cateCode,
			c.cateCodeRef,
			c.cateName,
			goodsPrice,
			goodsStock,
			goodsDesc,
			goodsImg,
			goodsDate,
			g.goodsImg,
			g.goodsThumbImg
	from	tbl_goods g
	inner	join goods_category c
			on g.cateCode = c.cateCode
	where	g.cateCode = #{cateCode}
			<include refid="categoryList"></include>
</select>
<!-- 카테고리별 상품 리스트 -->
<sql id="categoryList">
	<if test="cateCodeRef != null">
		<if test="cateCodeRef != 0">or c.cateCodeRef = #{cateCodeRef}</if>
	</if>
</sql>

<!-- 상품 소감(댓글) 작성 -->
<insert id="registReply">
	insert into tbl_reply (
							goodsNum,
							userId,
							replyNum,
							replyCon
						  )
				 values	 (
				 			#{goodsNum},
				 			#{userId},
				 			tbl_reply_seq.nextval,
				 			#{replyCon}
				 		  )
</insert>

<!-- 상품 소감(댓글) 리스트 -->
<select id="replyList" resultType="com.shop.domain.ReplyListVO">
	select r.goodsNum,
		   r.userId,
		   r.replyNum,
		   r.replyCon,
		   r.replyDate,
		   m.userName
	from   tbl_reply r
	inner join tbl_member m
		on r.userId = m.userId
	where  goodsNum = #{goodsNum}
</select>

<!-- 상품 소감(댓글) 삭제 -->
<delete id="deleteReply">
	delete	tbl_reply
	where	replyNum = #{replyNum}
		and userId = #{userId}
</delete>

<!-- 아이디 체크 -->
<select id="replyUserIdCheck" resultType="String">
	select	userId
	from	tbl_reply
	where	replyNum = #{replyNum}
</select>

<!-- 상품 소감(댓글) 수정 -->
<update id="modifyReply">
	update	tbl_reply
	set		replyCon = #{replyCon}
	where	replyNum = #{replyNum}
	and		userId = #{userId}	
</update>

<!-- 카트에 상품 추가 -->
<insert id="addCart">
	insert into tbl_cart (
						    cartNum,
						    userId,
						    goodsNum,
						    cartStock
						 )
				 values (
						    tbl_cart_seq.nextval,
						    #{userId},
						    #{goodsNum},
						    #{cartStock}
					     )
</insert>

<!-- 카트 리스트 -->
<select id="cartList" resultType="com.shop.domain.CartListVO">
	select
		    row_number() over( order by c.cartNum desc) as num,
		    c.cartNum,
		    c.userId,
		    c.goodsNum,
		    c.cartStock,
		    c.addDate,
		    g.goodsName,
		    g.goodsPrice,
		    g.goodsThumbimg
	from    tbl_cart c
	inner join tbl_goods g
	on c.goodsNum = g.goodsNum
	where c.userId = #{userId}
</select>

<!-- 카트 삭제 + 주문하고 난 뒤에 해당 카트목록 삭제 -->
<delete id="deleteCart">
	delete tbl_cart
	where  cartNum = #{cartNum}
	and    userId = #{userId}
</delete>

<!-- 주문 정보 -->
<insert id="orderInfo">
	insert into tbl_order(
							orderId,
							userId,
							orderRec,
							userAddr1,
							userAddr2,
							userAddr3,
							orderPhone,
							amount
						 )
				  values (
				  			#{orderId},
				  			#{userId},
				  			#{orderRec},
				  			#{userAddr1},
				  			#{userAddr2},
				  			#{userAddr3},
				  			#{orderPhone},
				  			#{amount}
						 )
</insert>

<!-- 주문 상세 정보 + 체크된 상품만 주문 -->
<!-- <insert id="orderInfoDetails">
	insert into tbl_order_details(
									orderDetailsNum,
									orderId,
									goodsNum,
									cartStock,
									userId
								 )
						   select	tbl_order_details_seq.nextval,
						   			#{orderId},
						   			goodsNum,
						   			cartStock,
						   			#{userId}
						   	from	tbl_cart
						   	where	userId = #{userId}
</insert> -->
<insert id="orderInfoDetails" parameterType="java.util.HashMap">
insert into tbl_order_details(
								orderDetailsNum,
								orderId,
								goodsNum,
								cartStock,
								userId
							 )
					   select	tbl_order_details_seq.nextval,
					   			#{orderId},
					   			goodsNum,
					   			cartStock,
					   			#{userId}
					   	from	tbl_cart
					   	where	userId = #{userId}
					   	and		cartNum = #{cartNum}
</insert>



<!-- 주문 후, 카트 비우기 -->
<delete id="cartAllDelete">
	delete tbl_cart
	where userId = #{userId}
</delete>

<!-- 주문 목록 -->
<select id="orderList" resultType="com.shop.domain.OrderVO">
	select	orderId,
			userId,
			orderRec,
			userAddr1,
			userAddr2,
			userAddr3,
			orderPhone,
			amount,
			orderDate,
			delivery
	from	tbl_order
	where	userId = #{userId}
	order by orderDate desc
</select>

<!-- 특정 주문 목록 -->
<select id="orderView" resultType="com.shop.domain.OrderListVO">
select  o.orderId,
        o.userId,
        o.orderRec,
        o.userAddr1,
        o.userAddr2,
        o.userAddr3,
        o.orderPhone,
        o.amount,
        o.orderDate,
        o.delivery,
        d.orderDetailsNum,
        d.goodsNum,
        d.cartStock,
        g.goodsName,
        g.goodsThumbImg,
        g.goodsPrice,
        o.cancelDate
from    tbl_order o
        inner join tbl_order_details d
                    on o.orderId = d.orderId
        inner join tbl_goods g
                    on d.goodsNum = g.goodsNum
where o.userId = #{userId}
  and o.orderId = #{orderId}
</select>

<!-- 주문 취소 -->
<update id="orderCancel">
update tbl_order
   set delivery = '주문 취소', 
       cancelDate = sysdate 
where orderId = #{orderId}
  and delivery = '주문 완료'
</update>

</mapper>